body {
  margin: 0;
  font-family: Arial;
  overflow: hidden;
  color: white;
}

/* VIDEO */
.video-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px) brightness(0.6);
  transform: scale(1.1);
  z-index: -2;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: -1;
}

/* CONTENIDO */
.contenido {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BOTON */
.btn {
  padding: 12px 25px;
  background: #93BBE1;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* RULETA */
.ruleta-container {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.puntero {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid #93BBE1;
  margin: auto;
}

.ruleta {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin-top: 10px;
  transition: transform 4s cubic-bezier(.2,.8,.2,1);

  background: conic-gradient(
    #ffffff 0deg 234deg,
    #93BBE1 234deg 324deg,
    #ffffff 324deg 352deg,
    #93BBE1 352deg 360deg
  );

  box-shadow: 0 0 40px rgba(147,187,225,0.6);
}
