* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  overflow: hidden;
  color: white;
}

/* VIDEO */
.video-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(6px) brightness(0.55);
  transform: scale(1.1);
  opacity: 0;
  transition: 1.2s ease;
  z-index: -2;
}

.video-bg.visible {
  opacity: 1;
}

/* OVERLAY */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  z-index: -1;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  opacity: 0;
  transform: translateY(20px);
  transition: 1s ease;
}

.hero.visible {
  opacity: 1;
  transform: translateY(0);
}

/* BOTONES */
.btn {
  padding: 12px 28px;
  background: #93BBE1;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.secondary {
  background: #444;
  margin-top: 10px;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.92);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

/* CAJA */
.box {
  text-align: center;
}

.cube {
  width: 140px;
  height: 140px;
  background: #93BBE1;
  border-radius: 14px;
  margin: 0 auto 20px auto;
  box-shadow: 0 0 35px rgba(147,187,225,0.7);
  transition: transform 0.6s ease;
}

/* RESULTADO */
#result {
  margin-top: 15px;
}
